{% extends 'index.html' %}

{% block title %}

{{ title }}
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 d-flex content_">
  <div class="col">
    <div class="card">
      <img src="../static/img/a-white-flower-with-a-yellow-center-is-reflected-in-a-reflective-surface.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Футболка</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="http://127.0.0.1:5000/jacket/"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card">
      <img src="../static/img/fashion-bride-in-luxury-dress.jpg" class="card-img-top" alt="dress">
      <div class="card-body">
        <h5 class="card-title">Платье</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/img/simple-white-crew-neck-unisex-streetwear-apparel.jpg" class="card-img-top" alt="streetwear">
      <div class="card-body">
        <h5 class="card-title">Лонгслив</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
    
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/img/elegant-young-woman-in-costume-with-handbag-in-room.jpg" class="card-img-top" alt="Брюки">
      <div class="card-body">
        <h5 class="card-title">Брюки</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
 
  </div>


{% endblock %}