{% extends 'index.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 d-flex content_ card_content">
  <div class="col">
    <div class="card">
      <img src="../static/img/a-white-flower-with-a-yellow-center-is-reflected-in-a-reflective-surface.jpg" class="card-img-top" alt="Футболка">
      <div class="card-body">
        <h5 class="card-title">Футболка</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Заказать</button></a>
      </div>
    </div>
    </div>
  </div>


{% endblock %}