{% extends 'index.html' %}

{% block title %}

{{ title }}
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 d-flex content_">
  <div class="col">
    <div class="card">
      <img src="../static/img/pair-trainers.jpg" class="card-img-top" alt="Кроссовки">
      <div class="card-body">
        <h5 class="card-title">Кроссовки</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card">
      <img src="../static/img/shot-elegant-beautiful-black-heels-with-metal-stones-isolated.jpg" class="card-img-top" alt="Ботильоны">
      <div class="card-body">
        <h5 class="card-title">Ботильоны</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/img/high-heels-in-black-velvet.jpg" class="card-img-top" alt="Туфли">
      <div class="card-body">
        <h5 class="card-title">Туфли</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
    
  </div>
  <div class="col">
    <div class="card">
      <img src="../static/img/black-fashion-gumshoes.jpg" class="card-img-top" alt="Кеды">
      <div class="card-body">
        <h5 class="card-title">Кеды</h5>

        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, rerum culpa sed hic dolores nesciunt? Nisi, provident at sequi temporibus iste deserunt. Quia reprehenderit quod beatae vero itaque quibusdam praesentium?</p>
        <a href="#"><button type="button" class="btn btn-primary">Посмотреть</button></a>
      </div>
    </div>
 
  </div>


{% endblock %}